@import "../../general.scss";

.projects {
  color: $text-darkgray;
  margin: 0 2rem 8rem;
  // .container {
  //   max-width: 700px;
  //   color: $text-darkgray;
  // }
}

.projects-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  display: flex;
  // border: 2px solid black;
  border-radius: 0.7rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);

  .img-container {
    max-height: 300px;
    // width: 300px;
    max-width: 250px;
    // border: 2px solid black;
    // overflow: none;
    overflow: hidden;
    flex-shrink: 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .card-info {
    padding: 1.5rem;

    h3 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: $primary1;
      display: inline-block;
    }

    h4 {
      display: inline-block;
      margin-left: 1rem;
    }

    p {
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }

    .tools {
      display: flex;
      gap: 0.7rem;
      flex-wrap: wrap;
      li {
        list-style: none;
        color: $primary1;
      }
    }
  }
}

.buttons {
  padding: 1.3rem 0 0.5rem;
  display: flex;
}

.btn:link,
.btn:visited {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  background-color: $primary1;
  color: $text-lightgray;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 0.4rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:active {
  background-color: $primary-shade1;
  transition: all 0.3s ease-in-out;
}

.btn-github {
}

.btn-demo {
}
