@import "../../general.scss";

.projects {
  color: $text-darkgray;
  margin: 0 2rem 8rem;
  // .container {
  //   max-width: 700px;
  //   color: $text-darkgray;
  // }
}

.projects-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  display: flex;
  // border: 2px solid black;
  border-radius: 0.7rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.project-card .img-container {
  max-height: 500px;
  // width: 300px;
  max-width: 250px;
  // border: 2px solid black;
  // overflow: none;
  overflow: hidden;
  // flex-shrink: 0;
}

.project-card .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-info {
  padding: 1.5rem;
}

.card-info h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: $primary1;
  display: inline-block;
  margin-right: 1rem;
}

.card-info h4 {
  display: inline-block;
  // margin-left: 1rem;
}

.card-info p {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.tools {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
}

.tools li {
  list-style: none;
  color: $primary1;
}

.buttons {
  padding: 1.3rem 0 0.5rem;
  display: flex;
}

.btn:link,
.btn:visited {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  background-color: $primary1;
  color: $text-lightgray;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 0.4rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:active {
  background-color: $primary-shade1;
  transition: all 0.3s ease-in-out;
}

@media all and (max-width: 850px) {
  .card-info {
    padding: 1rem;
  }
  .card-info h3 {
    margin-bottom: 0.5rem;
  }

  .card-info h4 {
    display: block;
  }
}

@media all and (max-width: 650px) {
  .project-card .img-container {
    max-width: 200px;
  }
}

@media all and (max-width: 550px) {
  .project-card {
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }

  .project-card .img-container {
    max-width: 400px;
  }
}

@media all and (max-width: 400px) {
  .projects {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
