@import "../../general.scss";

.about {
  padding: 1rem 0;
  margin: 0 2rem 10rem;
}

.container-small {
  // max-width: 700px;
  color: $text-darkgray;
}

.container-small p {
  line-height: 1.3;
  letter-spacing: 0.01rem;
  font-size: 1.1rem;
  // padding: 1rem 0;
  margin-bottom: 2rem;
}

.container-small h3 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

@media all and (max-width: 600px) {
  .about {
    margin-bottom: 8rem;
  }

  .container-small h3 {
    font-size: 1.5rem;
  }

  .container-small p {
    font-size: 1rem;
  }

  .container-small h2 {
    font-size: 2.5rem;
  }
}

@media all and (max-width: 400px) {
  .container-small h3 {
    font-size: 1.5rem;
  }

  .container-small h2 {
    font-size: 2.5rem;
  }
}
