@import "../../general.scss";

.navbar {
  height: 65px;
  // background: black;
  color: #f1faee;
}

.main-nav {
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
  height: 100%;
  width: 400px;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  align-items: center;
  background-color: #457b9d;
}

.links {
  display: flex;
  gap: 3rem;
}
.links li {
  list-style-type: none;
  font-size: 1.1rem;
  font-weight: 300;
  cursor: pointer;
}

.link {
  position: relative;
  // color: $text-lightgray;
  color: #f1faee;
  text-decoration: none;
}
.link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  // background-color: $text-lightgray;
  background-color: #f1faee;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.links .link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-mobile-nav {
  border: none;

  font-size: 3rem;

  color: $primary1;
  // background-color: $background-gray;
  background: none;

  margin: 1.5rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.icon-mobile-nav {
  display: none;
}

@media all and (max-width: 600px) {
  .btn-mobile-nav {
    display: flex;
  }

  .main-nav {
    // display: none;
  }

  .main-nav {
    // background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;

    transform: translateY(-100%);
    transition: all 0.5s ease-in;

    opacity: 0;

    visibility: hidden;
  }

  .active.main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
  }

  .links {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .icon-mobile-nav[name="menu-outline"] {
    display: block;
  }

  .active .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .active .icon-mobile-nav[name="close-outline"] {
    display: block;
    // background-color: $primary1;
    background: none;
    color: $text-lightgray;
  }

  .links .link {
    font-size: 2.5rem;
  }
}
