@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;900&display=swap");
@import "./general.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background: #eaeaea;
}

h2 {
  font-size: 3rem;
  color: $text-darkgray;
  margin-bottom: 1rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  // padding: 0 3.2rem;
}

.container-small {
  max-width: 800px;
  margin: 0 auto;
}
