$primary1: #457b9d;
$primary2: #457b9d;
$primary-shade1: #294a5e;
$primary-shade2: #15252f;
$text-lightgray: #f1faee;
$text-darkgray: #5d6164;
$text-mediumgray: #ccc;
$background-gray: #eaeaea;

a {
    color: rgb(69, 123, 157)
}
